<h3>Search results</h3>

<div class="search-container d-flex justify-content-between">
  <div class="sellers-results border">
  <div class="row justify-content-center">
  <div class="col-sm-12">
<%= form_with url: sellers_path, method: :get, class: "d-flex", data: { controller: "searchbar" } do %>
  <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Type a keyword"
    %>
  <div data-controller="address-autocomplete" data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
    <%= text_field_tag :address,
          params[:address],
          class: "form-control d-none",
          id: "address-input",
          placeholder: "Enter your address",
          data: { target: "searchbar.address address-autocomplete.address" }
      %>
  </div>
  <%= hidden_field_tag :latitude, params[:latitude], id: "latitude", data: { target: "searchbar.latitude" } %>
  <%= hidden_field_tag :longitude, params[:longitude], id: "longitude", data: { target: "searchbar.longitude" } %>
  <%= select_tag :radius, options_for_select([['1 km', 1], ['5 km', 5], ['10 km', 10], ['50 km', 50], ['100 km', 100]], selected: params[:radius]), class: "form-control" %>
  <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
<% end %>
  </div>
</div>
    <div class="sellers-card border p-3 m-3 rounded-3">
      <% if @sellers.any? %>
        <% @sellers.each do |seller| %>
      <%= link_to seller.seller_name, seller_path(seller) %>
      <%= seller.description %>
      <% if seller.photos.present? %>
        <% seller.photos.first do |photo| %>
          <%= cl_image_tag photo.key, height: 100, width: 100, crop: :fill %>
        <% end %>
      <% end %>
      <% end %>
      <% else %>
        <em>Sorry, no sellers found.</em>
      <% end %>
    </div>
  </div>

  <div style="width: 70%; height: 90vh;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-current-geocode-value="<%= [params[:latitude], params[:longitude]].to_json %>">
  </div>
</div>
