<div class="sellers-profile">
  <div class="profile-container">
    <div>
      <img src="/assets/farmer_image.jpg" alt="Profile Image" class="profile-image">
    </div>
    <div class="profile-info">
      <h2>Ben</h2>
      <p>Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr, sed diam nonumy eir
        mod tempor invidunt ut labore et...</p>
    </div>
    <div>
      <button class="msg-btn">Message</button>
    </div>
  </div>
  <div class="profile-description">
    <div class="title-description">
      <h2>Bens Farm</h2>
    </div>
    <div class="image-container">
    </div>
    <div class="description">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et sam
        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
        Lorem ipsum d</p>
    </div>
    <div class="info-description">
      <h2>Has This Food:</h2>
    </div>
    <div class="inline-style">
      <div>
        <img src="/assets/food-image" alt="Food Image" class="food-image">
      </div>
      <div>
        <img src="/assets/food-image" alt="Food Image" class="food-image">
      </div>
      <div>
        <img src="/assets/food-image" alt="Food Image" class="food-image">
      </div>
    </div>
  </div>
</div>
<div class="map-container">
  <h1>map</h1>
</div>


<% if @seller.photos.present? %>
  <% @seller.photos.each do |photo| %>
    <%= cl_image_tag photo.key, width: 100, height: 100, crop: :fill %>
  <% end %>
<% end %>
<%= @seller.seller_name %>
<%= @seller.description %>
<%= @seller.address %>
<%= @seller.website %>
<%= @seller.social_media_link %>
<%= @seller.phone_number %>
<%= @seller.opening_time %>
<%= @seller.closing_time %>



<%# Reviews %>

<% @seller.reviews.each do |review| %>
  <%= review.title %>
  <%= review.user.username %>
  <%= review.content %>
  <% if review.photos.present? %>
    <% review.photos.each do |photo| %>
      <%= cl_image_tag photo.key, crop: :fill %>
    <% end %>
  <% end %>
<% end %>

<% if policy(@review).create? %>
  <h4>Leave a review for this seller</h4>
  <%= simple_form_for [@seller, @review] do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.input :rating, collection: 1..5, prompt: "Enter your rating for this seller" %>
    <%= f.submit "Submit review", class: "btn btn-primary" %>
  <% end %>
<% end %>


<%# !!!!!! %>
<%# Uncomment the below when pundit is merged to your branch! %>

<% if policy(@seller).edit? %>
  <%= link_to "Edit your seller profile details", edit_seller_path(@seller) %>
<% end %>

<% if policy(@seller).destroy? %>
  <%= link_to "Delete your seller profile", sellers_path(@seller), data: { turbo_method: :delete, turbo_confirm: "Sure you want to delete your seller profile?" } %>
<% end %>

<%= link_to "Home", root_path %>

<% if policy(@seller).edit? %>
  <%= link_to "Edit your seller profile details", edit_seller_path(@seller) %>
<% end %>
<% if policy(@seller).destroy? %>
  <%= link_to "Delete your seller profile", sellers_path(@seller), data: { turbo_method: :delete, turbo_confirm: "Sure you want to delete your seller profile?" } %>
<% end %>

