<div class="sellers-profile">
  <div class="profile-container">
    <div>
      <img src="/assets/farmer_image.jpg" alt="Profile Image" class="profile-image">
    </div>
    <div class="profile-info">
      <h2>Ben</h2>
      <p>Lorem ipsum dolor sit amet, consetetur
        sadipscing elitr, sed diam nonumy eir
        mod tempor invidunt ut labore et...</p>
    </div>
    <div>
      <button class="msg-btn">Message</button>
    </div>
  </div>
  <div class="profile-description">
    <div>
      <h2>Bens Farm</h2>
    </div>
    <div>
      <img src="/assets/market-image.jpg" alt="Market Image" class="market-image">
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et sam
        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
        Lorem ipsum d</p>
    </div>
  </div>
</div>


<% if @seller.photos.present? %>
  <% @seller.photos.each do |photo| %>
    <%= cl_image_tag photo.key, width: 100, height: 100, crop: :fill %>
  <% end %>
<% end %>
<%= @seller.seller_name %>
<%= @seller.description %>
<%= @seller.address %>
<%= @seller.website %>
<%= @seller.social_media_link %>
<%= @seller.phone_number %>
<%= @seller.opening_time %>
<%= @seller.closing_time %>
<% if policy(@seller).edit? %>
  <%= link_to "Edit your seller profile details", edit_seller_path(@seller) %>
<% end %>
<% if policy(@seller).destroy? %>
  <%= link_to "Delete your seller profile", sellers_path(@seller), data: { turbo_method: :delete, turbo_confirm: "Sure you want to delete your seller profile?" } %>
<% end %>
